* {
  margin:0px;
  padding:0px;
}

h1{
  font-size:20px;
  text-align:center;
}
body{
  background-color:#111;
}

header{
  background-color:#ccc;
  text-align:center;
  margin:5px;
  padding:5px;
  border-radius:45px;
}
